<!-- label for="city-search">Find Weather</label -->
<div class="city-search-wrap">
  <div>
    <input type="text" name="city-search" id="city-search" placeholder='Search for Cities (ex. "Chicago")' autocomplete="off"/>
    <ul id="city-search-results"></ul>
  </div>
</div>
