<label for="city-search">Find Weather</label>
<span class="city-search-wrap">
  <input type="text" name="city-search" id="city-search" placeholder='Search for Cities (ex. "Chicago")'/>
  <ul id="city-search-results"></ul>
</span>
