@media (max-width: 768px) {

}
@media (max-width: 650px) {
  #search-bar-region #search-bar-date {
    display: none;
  }
}

@media (max-width: 600px) {

  .forecast-full {
    margin: 1.3% auto;
    display: block;
    font-size: 14px;

    > .right-now, > .future-forecast {
      display: block;
      vertical-align: middle;
      width: 100%;
      box-sizing:border-box;
    }

    .right-now .conditions img {
      height: 50px;
    }

    .right-now .description{
      font-size: 1em;
    }


    .right-now .side-data .data {
      font-size: 1.2em;
    }
  }

  #search-bar-region {

    & > div {
      // width: 100%;
      display: block;
    }

    #search-bar-date {
      display: none;
    }

    #search-bar-title {
      margin: 0 10px;
      padding: 10px 0 0 0;
    }

    #search-bar-field {
      width: 100%;
      margin: 0;
      padding: 5px 10px 10px 10px;
    }
  }


  .forecast-slices-wrapper {
    border-spacing: 0;
    font-size: 14px;
  }

  .forecast-slice {
    display: block;
    margin: 10px;
    width: auto;

    .description {
      font-size: 1em;
      line-height: 1.2em;
    }
  }

}
